<h1><%= @question.title %></h1>
<br />
<p id="question_description">Description:  <%= @question.description %></p>

<%= link_to "Answer this question", new_question_answer_path(@question), id: "new_answer", remote: true %>

