<h1> <%= @question.title %> </h1>

<h3><%=@question.description %> </h3>

<ul id="question_description">
  <% @answers = Answer.order(:bestanswer).reverse %>
  <% @answers.each do |a| %>

     <%= render 'answers/answer', answer: a %>
  <% end %>
</ul>

<%= link_to "Answer this question", new_question_answer_path(@question), id: "new_answer", remote: true %>
